/* SHAME - demo code */
#sm-navigation{
}
#sm-conversation {
  padding:2em;
}
.path-local-simple_message #page-mast h1 {display:none;}

input[type="checkbox"] { display:none;}
input[type="checkbox"]:checked + label {
  color:red;
}


#sm-conversation,
#sm-navigation {
    width:50%;
    float:right;
}

@media screen and (max-width: 600px) {
  #sm-conversation,
  #sm-navigation {
      width:100%;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }

  #sm-conversation {
    margin-right:-100%;
    float:right;
  }
  #sm-conversation:target{
    margin-right:0;
  }
  #sm-conversation:target + #sm-navigation {
    margin-left:-100%;
  }
}
